@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=Roboto Condensed,sans-serif;=swap');
/* font-family: 'Fredoka One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
dark green: #4F493D
medium green: #868944
light green: #D6D884
pail: #F6ECE0
orange: #CE8342
*/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    color: #4f493d;
    background: #f6ece0;
}

h1,
h2 {
    font-family: 'Fredoka One', cursive;
    color: #4f493d;
    letter-spacing: 2px;
}

h1 {
    font-size: 110px;
    line-height: 20%;
}

h2 {
    font-size: 64px;
    line-height: 50%;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 10%;
    font-size: 36px;
    white-space: nowrap;
    /* font-size: 2vw; */
    color: #4F493D;
}

h4 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    line-height: 0%;
    font-weight: 300;
    font-size: 15px;
}

.vw-2 {
    font-size: 2vw;
}

.vw-h2 {
    font-size: 3.8vw;
}

.vw-h1 {
    font-size: 6.7vw;
}

li {
    line-height: 130%;
    margin: 5px 0px 5px 0px;
}

/* p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4F493D;
} */

strong {
    font-weight: 700;
}

img {
    width: 100%;
}

.button {
    background-color: #ce8342;
    /* position: absolute; */
    width: 281px;
    /* height: 70px; */
    top: 507px;
    padding: 10px 55px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: inherit;
    /* justify-content: center; */
}

.button:hover {
    color: #f6ece0;
    background-color: #4F493d;
}

nav {
    background: #868944;
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* padding: 0px 0px 0px 50px; */
    width: 100vw;
    position: fixed;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: -10px 0px 5px #4f493d;
    z-index: 2;
}

.logo {
    padding: 5px 0px 0px 50px;
}

.topnav {
    display: flex;
    list-style: none;
}

.topnav li {
    padding-right: 70px;
    padding-top: 1px;
    /* border: 1px solid red; */

}

nav a {
    color: #f6ece0;
    text-decoration: none;
    /* border: 1px solid red; */
}

/* .nav-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
} */

.nav-hover:hover,
.active {
    color: #4f493d;
    border-bottom: 3px solid #ce8342;
    border-radius: 2px;
}


footer {
    background: #4f493d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #f6ece0;
    /* position: absolute; */
    bottom: 0;

    /* width: 100vw; */
    padding: 20px 50px;
    border-top: 80px solid;
}

.center {
    text-align: center;
}

.source-icon {
    /* width: 30px; */
    /* width: 30%; */
    display: flex;
}

.source-icon a {
    padding-right: 6px;
}

.homepage main,
.nutritious-page main {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
    margin: auto;
    /* padding: 50px 0px; */
    /* border: 1px solid red; */
}

.homepage main div {
    flex: 1;
    padding-top: 100px;
    /* border: 1px solid red; */
}

.nutritious-page main div {
    flex: 1;
    padding-top: 50px;
    /* border: 1px solid red; */
}

.right {
    min-width: 300px;
}


.homepage main .right {
    /* border: 1px solid red; */
}

section .top {
    width: 78%;
    margin: auto;
    padding-top: 80px;
    /* border: 1px solid red; */
}

section .top h2,
main .left h2 {
    line-height: 120%;
}

.varieties-page main {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
    margin: auto;
    padding-top: 50px;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.bottom {
    text-align: center;
    /* margin-left: 80px; */
    margin-top: 0;
    line-height: 0px;
    /* border: 1px solid red; */
}

.varieties-img {
    flex-shrink: 1;
    /* width: 191px; */
    border-radius: 200px;
    justify-content: space-evenly;
    background: #ce8342;
    /* border: 1px solid red; */
}

.hover {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
}

.left:hover .varieties-img {
    opacity: 0.3;
}

.left:hover .hover {
    opacity: 1;
}

.play-button {
    justify-self: center;
    margin-left: 220px;
    margin-bottom: 200px;
    /* border: 1px solid red; */
}

.ways-page main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78%;
    margin: auto;
    padding: 50px 0px;
    /* border: 1px solid red; */
}

.ways-page main div {
    /* border: 1px solid red; */
}

.ways-page main .right {
    flex: 3;
    margin: 0px 50px;
    /* border: 1px solid red; */
}

@media screen and (max-width: 768px) {

    .logo {
        padding: 0px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav li {
        margin: 0;
        padding: 0;
    }

    main .left h2 {
        padding-top: 50px;
    }

    section .top h2 {
        padding-top: 70px;
    }

    .homepage main,
    .nutritious-page main section {
        flex-direction: column;
        width: 80%;
    }

    .nutritious-page main div {
        padding: 0;
    }

    .varieties-page main {
        width: 90;
        padding: 0;
    }

    .varieties-page main .bottom {
        padding-top: 40px;
    }

    .ways-page main {
        padding: 0;
        width: 90%;
    }

    .ways-page main .right {
        padding-bottom: 40px;
    }

    .ways-page main .right {
        /* margin: 0; */
    }

}